@import 'fonts.css';

:root {
    --font_S: 'SourceSansPro';
    --color_1: #1C1C33;
    --color: #57D9A6;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background: var(--color);
    border-radius: 10px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: var(--font_S);
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #1C1C33;
    background: var(--color);
    border-radius: 4px;
    padding: 16px 24px;
    cursor: pointer;
    border: none;
    transition: 500ms;
}

.btn:hover {
    background: #1C1C33;
    color: var(--color);
}

/* -------------------- ads start ==================== */

.ads__content {
    background: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ads__title {
    padding: 8px 0 8px;
    font-weight: 400;
    font-size: 18px;
}

/* ==================== Header nav start ==================== */

.header__nav {
    background: var(--color_1);
    position: sticky;
    top: 0;
    z-index: 99;
    backdrop-filter: blur(15px);
}

.header__nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 25px;
}

.header__nav-link {
    font-weight: 400;
    font-size: 17px;
    padding: 38px 15px 40px;
    color: var(--white);
    position: relative;
    transition: 500ms;
}

.header__nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background: var(--color);
    transition: 500ms;
    border-radius: 20px;
}

.header__nav-link:hover {
    color: var(--color);
}

.header__nav-link:hover::after {
    width: 100%;
}

/* ==================== Header start -------------------- */

.header {
    background: #23233B;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__left {
    margin: 144px 0 311px;
    display: inline-block;
}

.header__left-link {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #F6F6F8;
    position: relative;
    padding-bottom: 7px;
    transition: 500ms;
    display: inline-block;
    margin-bottom: 59px;
}

.header__left-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: var(--color);
    transition: 500ms;
}

.header__left-link:hover:after {
    width: 100%;
}

.header__left-text {
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    color: #F6F6F8;
    width: 509px;
    margin-bottom: 22px;
}

.header__left-txt {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #F6F6F8;
    width: 548px;
    margin-bottom: 22px;
}

.header__left-title {
    font-weight: 400;
    font-size: 17px;
    color: #B2B2BF;
    margin-bottom: 48px;
}

/* ==================== header right ==================== */

.header__right {
   height: 509px;
}

/* .header__right-image {
    padding: 33px 0 0 48px;
}

.header__right-image-2 {
    left: 338px;
}  */

/* ==================== Section view start ==================== */

.view {
    background: #23233B;
}

.view__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 142px 0 80px;
}

.view__top-title {
    font-weight: 700;
    font-size: 44px;
    color: #F6F6F8;
    padding-bottom: 17px;
    margin-bottom: 33px;
    position: relative;
    cursor: pointer;
    transition: 500ms;
}

.view__top-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: var(--color);
    transition: 500ms;
}

.view__top-title:hover:after {
    width: 100%;
}

.view__top-text {
    width: 644px;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #F6F6F8;
    margin-bottom: 46px;
}

/* ==================== Section view bottom start ==================== */

.view__bottom {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.view__bottom-content {
    background: #fff;
    margin-bottom: 154px;
}

.view__bottom-comment {
    padding: 22px 0 30px 24px;
}

.view__bottom-title {
    width: 280px;
    font-weight: 401;
    font-size: 24px;
    line-height: 29px;
    color: var(--color_1);
    margin-bottom: 8px;
}

.view__bottom-txt {
    font-weight: 400;
    font-size: 17px;
    color: #4E4E65;
    margin-bottom: 15px;
}

.view__bottom-cash {
    font-weight: 401;
    font-size: 22px;
    color: var(--color_1);
    margin-bottom: 16px;
}

.view__bottom-link {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color);
}

/* ==================== Section contact start ==================== */

.contact {
    display: flex;
}

.contact__image img {
    height: 100%;
}

.contact__us {
    padding: 142px 0 144px 48px;
    background: var(--color_1);
}

.contact__us-text {
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    color: #F6F6F8;
    padding-bottom: 7px;
    cursor: pointer;
    position: relative;
    transition: 500ms;
    margin-bottom: 50px;
}

.contact__us-text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: var(--color);
    transition: 500ms;
}

.contact__us-text:hover::after {
    width: 27%;
}

.contact__us-txt {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #F6F6F8;
    margin-bottom: 46px;
}

/* -------------------- section work__top start -------------------- */

.work {
    background: #F5F5F5;
}

.work__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 142px 0 80px;
}

.work__top-title {
    font-weight: 700;
    font-size: 44px;
    color: var(--color_1);
    padding-bottom: 17px;
    margin-bottom: 33px;
    position: relative;
    cursor: pointer;
    transition: 500ms;
}

.work__top-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: var(--color);
    transition: 500ms;
}

.work__top-title:hover:after {
    width: 100%;
}

.work__top-text {
    width: 644px;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #4E4E65;
    margin-bottom: 46px;
}

/* ==================== work card -------------------- */

.work__cards {
    display: flex;
    column-gap: 50px;
    padding-bottom: 145px;
}

.work__card {
    background: #fff;
    padding: 22px 0 24px 24px;
}

.work__card-title {
    font-weight: 700;
    font-size: 24px;
    color: var(--color_1);
    margin-bottom: 11px;
}

.work__card-txt {
    font-size: 400px;
    font-size: 18px;
    line-height: 27px;
    color: #4E4E65;
    margin-bottom: 28px;
}

.work__card-link {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color);
}

/* ==================== section about start ==================== */

.about__content {
    background: var(--color);
    text-align: center;
    padding: 79px 209px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__img {
    padding-bottom: 45px;
}

.about__text {
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    color: var(--color_1);
    margin-bottom: 37px;
}

.about__txt {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #4E4E65;
    margin-bottom: 50px;
}

/* ==================== section teach start ==================== */

.teach {
    background: var(--color_1);
}

.teach .container {
    display: flex;
    align-items: center;
}

.teach__image img {
    padding-top: 143px;
}

.teach__title {
    font-weight: 700;
    font-size: 44px;
    color: #F6F6F8;
    position: relative;
    transition: 500ms;
    padding-bottom: 17px;
    cursor: pointer;
    margin-bottom: 52px;
}

.teach__title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: var(--color);
    transition: 500ms;
}

.teach__title:hover:after {
    width: 30%;
}

.teach__txt {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #F6F6F8;
    margin-bottom: 46px;
}

/* -------------------- section recent start -------------------- */

.recent {
    background: #F5F5F5;
}

.recent__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 142px 0 81px;
}

.recent__top-title {
    font-weight: 700;
    font-size: 44px;
    color: var(--color_1);
    position: relative;
    cursor: pointer;
    padding-bottom: 17px;
    margin-bottom: 69px;
}

.recent__top-title::after {
    content: '';
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: var(--color);
    transition: 500ms;
}

.recent__top-title:hover:after {
    width: 48%;
}

.recent__top-text {
    width: 644px;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #4E4E65;
    margin-bottom: 46px;
}

/* ==================== Section recent bottom ==================== */

.recent__bottom-cards {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    margin-bottom: 143px;
}

.recent__bottom-comment {
    background: #fff;
    padding: 24px 0 32px 24px;
}

.recent__bottom-title {
    font-weight: 400;
    font-size: 17px;
    color: #4E4E65;
    margin-bottom: 22px;
}

.recent__bottom-text {
    width: 319px;
    font-weight: 401;
    font-size: 24px;
    line-height: 29px;
    color: var(--color_1);
    margin-bottom: 8px;
}

.recent__bottom-txt {
    font-weight: 400;
    font-size: 17px;
    color: #4E4E65;
}

/* ==================== section footer start -------------------- */

.recent__footer {
    background: var(--color);
    border-radius: 4px;
    position: relative;
    margin-bottom: -170px;
}

.recent__footer-content {
    text-align: center;
    padding: 78px 0 95px;
}

.recent__footer-title {
    font-weight: 700;
    font-size: 44px;
    color: var(--color_1);
    margin-bottom: 57px;
}

.recent__footer-inp {
    border: 1px solid var(--color_1);
    background: var(--color);
    border-radius: 4px;
    padding: 15px 0 15px 19px;
    font-weight: 700;
    font-size: 20px;
    outline: none;
    color: var(--color_1);
    box-sizing: border-box;
    margin-right: 16px;
}

.recent__footer-btn {
    background: var(--color_1);
    border-radius: 4px;
    font-weight: 700;
    font-size: 20px;
    color: var(--color);
    padding: 15px 24px 15px 23px;
    border: none;
    transition: 500ms;
    cursor: pointer;
}

.recent__footer-btn:hover {
    background: var(--color);
    color: var(--color_1);
}

/* ==================== footer skillz start ==================== */

.footer__skillz {
    display: flex;
    justify-content: space-between;
}

.footer__content {
    background: var(--color_1);
}

.footer__content .container {
    padding: 144px 0 143px;
}

.footer__skillz-image {
    margin: 154px 0 80px;
}

.footer__skillz-left {
    display: flex;
    justify-content: space-between;
}

.footer__skillz-item {
    display: flex;
    flex-direction: column;
}

.footer__skillz-link {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #F6F6F8;
    margin-bottom: 23px;
}

.footer__skillz-links {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #F6F6F8;
    margin-bottom: 16px;
}

.footer__skillz-link:hover {
    text-decoration: underline;
}

.footer__skillz-links:hover {
    text-decoration: underline;
}

.skillz__right {
    display: flex;
    flex-direction: column;
}

.skillz__right-link {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #F6F6F8;
    margin-bottom: 23px;
}

.skillz__right-link:hover {
    text-decoration: underline;
}

.skillz__right-follow img {
    margin-right: 16px;
}

/* -------------------- footer ads start -------------------- */

.footer__ads {
    background: #23233B;
    padding: 16px 0;
}

.footer__link {
    font-weight: 400;
    font-size: 16px;
    color: #B2B2BF;
    margin-right: 32px;
}